body {
	background-image:url('images/light_wool.png');
}

#download {
	margin-left: auto;
	margin-right: auto;
}

#usage {
	margin-top: 100px;
}

#tutorial {
	margin-top: 100px;
}

#more {
	margin-top: 100px;
}


img {
     max-width: 100%;
}


