body {
	background-image:url('images/light_wool.png');
}

#download {
	margin-left: auto;
	margin-right: auto;
}

#usage {
	margin-top: 100px;
}

#tutorial {
	margin-top: 100px;
}


img {
     max-width: 100%;
}


a {		/* unvisited link */
	color: #8DC63F;
	text-decoration: none;
}      

a:visited {		/* visited link */
	color:#8DC63F;
}  

a:hover {		/* mouse over link */
	color:#8DC63F;
	
}  

a:active {		/* selected link */
	color:#8DC63F;
}  
